@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>En god låneaffär</h1>
    <p class="lead">Ja kanske inte för alla...</p>
    <p>Men för mig i alla fall</p>
</div>

<img src="~/Content/Harry.jpg" />


