@model DesignPatternCmsInlupp.Models.Loan
@{
    ViewBag.Title = "New loan";
}

<h3>Perfekt</h3>

<p>Ännu en vi har <span style="text-decoration: line-through;">lurat</span>! hrmm hjälpt...</p>
    Meddela kunden att lånenumret är  @Model.LoanNo
