@model DesignPatternCmsInlupp.Models.Parametrar
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Vi beräknar vår ocker hrmm förmpnliga ränta utifrån Riksbankens STIBOR + 25% (ca)-enheter</p>
<p>host host..tips till mina slavarbetare på CMS19...vi har liksom olika ränte<b>strategier</b> beroende på ålder och annat</p>
Aktuellt basvärde (från RB) är: @Model.CurrentRiksbankenStibor
